# docker-compose.yml (BASE - common configuration)
services:
  backend:
    build:
      context: ./backend
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    env_file: ./backend/.env
    environment:
      DATABASE_HOST: database # Point to the database service
      REDIS_HOST: cache # Point to the cache service
    restart: unless-stopped
    volumes:
      - user_uploads:/opt/relab/backend/data/uploads
      - backend_logs:/opt/relab/backend/logs

  backend_migrations:
    build:
      context: ./backend
      dockerfile: Dockerfile.migrations
    depends_on:
      database:
        condition: service_healthy
    env_file: ./backend/.env
    environment:
      DATABASE_HOST: database
      REDIS_HOST: cache
    profiles:
      - migrations
    restart: on-failure:3
    volumes: # Ensure migrations have access to seed data and user uploads (for seeding example images)
      - ./backend/data/seed:/opt/relab/backend/data/seed:ro
      - user_uploads:/opt/relab/backend/data/uploads

  database:
    image: postgres:18@sha256:78f1aed6e8c0185d3c6963c8343dd018c63e8ba5ebd78c159c7c772a05e75b30
    env_file: ./backend/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      start_period: 5s
      start_interval: 5s
    restart: unless-stopped
    volumes:
      - database_data:/var/lib/postgresql

  cache:
    image: redis:8
    command: ["sh", "-c", "redis-server --appendonly yes --save 60 1 --requirepass $${REDIS_PASSWORD}"]
    env_file: ./backend/.env
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      start_period: 5s
      start_interval: 5s
    restart: unless-stopped

  docs:
    image: squidfunk/mkdocs-material:9@sha256:f5c556a6d30ce0c1c0df10e3c38c79bbcafdaea4b1c1be366809d0d4f6f9d57f
    restart: unless-stopped
    volumes:
      - ./docs:/docs

  frontend-app:
    build:
      context: ./frontend-app
    depends_on:
      - backend
    restart: unless-stopped

  frontend-web:
    build:
      context: ./frontend-web
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  backend_logs:
  database_data:
  user_uploads:
