# Dependencies
node_modules/

# Build outputs
dist/
web-build/
.astro/

# Testing
e2e/
coverage/
test-results/
vitest.config.ts
playwright.config.ts

# Dev tooling / config
.vscode/
biome.json
justfile
Dockerfile.dev
README.md
.prettierrc
.env.local

# Docker and git
Dockerfile
Dockerfile.*
.dockerignore
.git
.gitignore

# macOS
.DS_Store
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
