<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reverse Engineering Labs API</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script src="/static/js/backend-index.js" defer></script>
  </head>
  <body data-logout-url="{{ url_for('auth:logout') }}">
    <div class="container">
      <h1>RELab API</h1>
      <p class="description">This is the backend API for the Reverse Engineering Lab.</p>

      <a
        href="{{ frontend_web_url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="primary-btn"
      >
        Go to the main website
      </a>

      <div class="section">
        <h2>API Documentation</h2>
        <a href="{{ url_for('get_swagger_docs') }}" class="secondary-btn">API Documentation (Swagger)</a>
        <a href="{{ url_for('get_redoc_docs') }}" class="secondary-btn">API Documentation (ReDoc)</a>
      </div>

      <div class="section">
        <h2>User Access</h2>
        {% if user %}
          <a href="#" id="logoutLink" class="secondary-btn">Logout</a>
        {% else %}
          <a href="{{ url_for('login_page') }}" class="secondary-btn">Login</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
