<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reverse Engineering Labs API</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <h1>ReLab API</h1>
      <p class="description">This is the backend API for the Reverse Engineering Lab.</p>

      <a href="{{ frontend_web_url }}" target="_blank" class="primary-btn">Go to the main website</a>

      <div class="section">
        <h2>API Documentation</h2>
        <a href="{{ url_for('get_swagger_docs') }}" class="secondary-btn">API Documentation (Swagger)</a>
        <a href="{{ url_for('get_redoc_docs') }}" class="secondary-btn">API Documentation (ReDoc)</a>
        {% if show_full_docs %}
          <a href="{{ url_for('get_full_swagger_docs') }}" class="secondary-btn">Full API Documentation (Swagger)</a>
          <a href="{{ url_for('get_full_redoc_docs') }}" class="secondary-btn">Full API Documentation (ReDoc)</a>
        {% endif %}
      </div>

      {% if show_full_docs %}
        <div class="section">
          <h2>Administration</h2>
          <a href="{{ admin_path }}" class="secondary-btn">Admin Dashboard</a>
        </div>
      {% endif %}

      <div class="section">
        <h2>API Login</h2>
        {% if user %}
          <a href="#" onclick="logout()" class="secondary-btn">Logout</a>
        {% else %}
          <a href="{{ url_for('login_page') }}" class="secondary-btn">Login</a>
        {% endif %}
      </div>
    </div>

    <script>
      async function logout() {
        try {
          await fetch('{{ url_for("auth:cookie.logout") }}', { method: 'POST', credentials: 'include' })
          window.location.reload()
        } catch (error) {
          console.error('Logout failed:', error)
        }
      }
    </script>
  </body>
</html>
